.dataTables_wrapper {
    font-size: .875rem
}

table.dataTable {
    margin-bottom: 1.25rem !important;
    border-bottom: 1px solid #e9ecef
}

table.dataTable tbody>tr.selected {
    background-color: #5e72e4
}

.dataTables_info,
.dataTables_length,
.dt-buttons {
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
}

.dataTables_length .form-control {
    margin: 0 .375rem
}

.dataTables_filter {
    display: inline-block;
    float: right;
    padding-right: 1.5rem
}

.dataTables_paginate {
    padding-right: 1.5rem
}

.invalid-div {
    color: red;
    font-weight: 600;
    padding-top: 4px;
}

.select2-selection {
    color: #8898aa !important;
    border: 1px solid #cad1d7 !important;
    border-radius: .375rem !important;
    min-height: calc(2.75rem + 2px) !important;
    padding: .625rem .75rem !important;
}

#dataTable tr td {
    white-space: normal !important;
}
.active-star{
    color: gold;
}
.navbar-light .navbar-nav .nav-link{
    opacity: 1 !important;
}
.br-2{
    border-radius: 1.375rem
}
.progress{
    height: 24px !important
}
.my-arrCard{
    margin: 10px;
    box-shadow: 2px 2px 3px 0px #f8f9ff;
}
#dataTable{
    width: 100% !important;
}